body {
    background-color: bisque;
}

header, footer, section, nav, li {
    border: black 1px solid;
}

header {
    background-color: rgb(130, 220, 40);
    color: hotpink;
    text-align: center;
}

li {
    display: inline;
    padding: 10px;
    margin: 0px 20px;
}

#section1 {
    background-color: orange;
}

#section2 {
    background-color: peru;
}

.center {
    text-align: center;
}

footer {
    background-color: azure;
    text-align: center;
}

img {
    width: 800px;
}